body{font-family:"Microsoft YaHei","arial black",sans-serif;color:#333;font-size:12px;background:#e7e8ec;margin: 0}
.title_box {
    background-color: #1cb7f0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.title {
    color: white;
    font-size: 2em;
    margin-left: 5em;
}
.back {
    color: white;
    font-size: 2.5em;
    line-height: 1.5em;
}

.chat_content_group{
    text-align: right;
}
.chat_nick{
    color: gray;
    font-size: 14px;
    margin: 0;
    margin: 0 2px;
}
.chat_content{
    display: inline-block;
    font-size: 2em;
    min-height: 16px;
    max-width: 81%;
    padding: 10px 15px;
    margin: 1px 2px 3px 2px;
    word-break: break-all;
    border-radius: 5px;
    color: white;
    background-color: #1cb7f0;
}

.chat_content_group_self{
    text-align: left;
}
.self{
    color: #1cb7f0;
    background-color: white;
}
.chat_group{
    margin: 5em 0;
}
.server{
    text-align:center;
    margin: 2px;
    color: rgba(0, 0, 0, 0.35);
}

.reply_input{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.reply_input textarea{
    width: 65%;
    resize: none;
    font-size: 1.5em;
    margin: 7px 4px 7px 63px;
    border-radius: 8px;
    border: 1px solid #D8D8D8;
    line-height: 1.5em;
}
.reply_input button{
    width: 15%;
    height: 100%;
    position: absolute;
    color: grey;
    background-color: rgba(28, 183, 240, 0);
    font-size: 1.5em;
    border: 0;
}