.bottom-nav {
    max-width: 800px;
    margin: 0 auto;
    height: 50px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    background: rgba(252, 252, 252, 0.9)
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.w25 {
    width: 25%;
}

.pull-left {
    float: left;
}