body{font-family:"Microsoft YaHei","arial black",sans-serif;color:#333;font-size:9px;background:#e7e8ec;margin: 0}
.title-box2 {
    width: 100%;
    height: 3em;
    display: block;
    background: #00D681;
    text-indent: 5em;
    font-size: 1.8em;
    line-height: 3em;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}

.title-box2 .return-btn {
    display: inline-block;
    width: 2em;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0.5em;
    background: url('../images/back-white-2px.png') no-repeat center center;
}
.title {
    height: 50px;
    line-height: 50px;
}
.jia{
    margin-right: 20px;
    float: right;
    text-decoration:none;
    color: #ffffff;
    font-size: 2em !important;
}
.wrapper{
    position: relative;
    top: 4em;
    margin: 0;
    width: 100%;
}
.item{
    margin: 2%;
    padding: 1%;
    background-color: ivory;
}
.item_head{
    padding: 3px 0;
}
.avatar{
width: 10%;
height: 10%;
}
.nickname{
    margin: auto 2px;
    font-size: 2em;
}
.woman{
    color: #fdfffb !important;
    font-size: 2em !important;
    margin-right: 0.2rem;
    background-color: rgb(253, 128, 150);
}
.creat_time{
    color: gray;
    float: right;
}
div.photo img{
    width: 100%;
    height: auto;
}
.profile{
    margin: 2px;
    padding: 2px;
}
.info_label{
    border: 1px solid #6d6c6d;
    border-radius: 3px;
    margin: 3px;
    padding: 2px;
}
.loading{
    margin: 4em 0 0 0;
    padding: 1em;
}
.btn_loading{
    width: 100%;
    outline: none;
    background-color: rgba(55, 55, 55, 0);
    border: none;
    color: #A4A6AB;
    font-size: 2em;
}