<html>
<head lang="zh">
    <meta charset="utf-8">
    <meta name="author" content="liaosimin">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>聊天室</title>
    <link rel="stylesheet" href="{{static_url('css/chatroom.css')}}"/>
</head>
<body>
<header class="title-box2">
    <a href="{{reverse_url('Home')}}" class="return-btn"></a>
    <span class="title">个人信息</span>
</header>
<h3>Send :</h3>

<form onsubmit="return false;">
    <input type="text" name="message" value="Hello World!"/>
    <input type="button" value="Send" onclick="send(this.form.message.value)"/>
    <input type="button" value="Change" onclick="changePeople()"/>
    <!--<input type="button" value="Change" onclick="timer_id=self.setInterval('changePeople()', 1000)"/>-->
    <h3>Receive :</h3>
    <textarea id="responseText" style="width:100%;height:300px;"></textarea>
</form>

<script type="text/javascript">
    var timer_id;
    var socket;
    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket;
    }
    // Javascript Websocket Client
    if (window.WebSocket) {
        socket = new WebSocket("ws://192.168.130.137:8887/websocket");
        socket.onmessage = function (event) {
            var receive_msg = JSON.parse(event.data);
            if (receive_msg.type == 0) {
                var ta = document.getElementById('responseText');
                ta.value = ta.value + '\n' + receive_msg.nickname + ':' + receive_msg.msg;
            }
            else if (receive_msg.type == 1) {
                return;
            }
            else if (receive_msg.type == 2) {
                self.clearInterval(timer_id);
            }

        };
        socket.onopen = function (event) {
            var ta = document.getElementById('responseText');
            ta.value = "Web Socket opened!";
        };
        socket.onclose = function (event) {
            var ta = document.getElementById('responseText');
            ta.value = ta.value + "Web Socket closed";
        };
    } else {
        alert("Your browser does not support Web Socket.");
    }
    // Send Websocket data
    function send(message) {
        if (!window.WebSocket) {
            return;
        }
        if (socket.readyState == WebSocket.OPEN) {
            var msg = {'type': 0, 'msg': message};
            var json = JSON.stringify(msg);
            socket.send(json);
        } else {
            alert("The socket is not open.");
        }
    }

    function changePeople() {
        if (!window.WebSocket) {
            return;
        }
        if (socket.readyState == WebSocket.OPEN) {
            var msg = {'type': 1, 'msg': 'change people'};
            var json = JSON.stringify(msg);
            socket.send(json);
        } else {
            alert("The socket is not open.");
        }
    }
</script>
</body>
</html>  
