<html>
<head lang="zh">
    <meta charset="utf-8">
    <meta name="author" content="liaosimin">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>聊天室</title>
    <link rel="stylesheet" href="{{static_url('css/chatroom.css')}}"/>
    <link rel="stylesheet" href="{{static_url('css/iconfont.css')}}"/>
</head>
<body>
<header class="title_box">
    <a href="javascript:history.back(-1)"><span class="iconfont back">&#xe60c;</span></a>
    <span class="title">聊天室</span>
</header>
<div class="chat_group">
    <div class="chat_content_group_self"><p class="chat_nick">我</p><p class="chat_content self">hello大家好</p></div>
    <div class="chat_content_group"><p class="chat_nick">他</p><p class="chat_content ">我是liaosimin</p></div>
</div>
<div class="reply_input">
    <button onclick="changePeople()">换人</button>
    <textarea rows="1" placeholder="回复"></textarea>
    <button onclick="send()">发送</button>
</div>
<script src="http://i.gtimg.cn/vipstyle/frozenjs/lib/zepto.min.js?_bid=304"></script>
<script src="{{static_url('js/chatroom.js')}}"></script>
</body>
</html>  
