<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>my</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link media="all" href="http://i.gtimg.cn/vipstyle/frozenui/1.2.1/css-debug/frozen.css?_bid=306" rel="stylesheet">
</head>
<body>

<!--<div class="bottom-nav navbar-fixed-bottom">-->
    <!--<ul class="row">-->
        <!--<li class="w25 pull-left">-->
            <!--<a>-->
                <!--<em>-->
                    <!--liao-->
                <!--</em>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="w25 pull-left">-->
            <!--<a>-->
                <!--<em>-->
                    <!--liao-->
                <!--</em>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

</body>
</html>