<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="author" content="liaosimin">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>photo</title>
    <link rel="stylesheet" href="{{static_url('css/photo.css')}}"/>
    <link rel="stylesheet" href="{{static_url('css/iconfont.css')}}"/>
</head>
<body>
<header class="title-box2">
    <a href="{{reverse_url('Home')}}" class="return-btn"></a>
    <span class="title">个人信息</span>
    <a href="/post" class="jia iconfont">&#xe601</a>
</header>
<div class="wrapper">
    <div class="item" data-id="1" data-uid="1">
        <div class="item_head">
            <a href="#"><img src="http://img1.2345.com/duoteimg/qqTxImg/2013/04/22/13667706084.jpg" alt="hello" class="avatar"/></a>
            <span class="nickname">lilei</span>
            <span><i class="iconfont woman">&#xe60a</i></span>
            <span class="creat_time">11min</span>
        </div>
        <div class="photo">
            <img src="http://img1.2345.com/duoteimg/qqTxImg/2013/04/22/13667706084.jpg">
        </div>
        <div class="profile">
            <span class="info_label">19 old</span>
        </div>
        <p class="intro">
            hello dajia hao
        </p>
        <span class="iconfont love" data-action="praise">&#xe60e</span>
    </div>
</div>
<div class="loading">
    <button type="button" class="btn_loading" id="loading_two">加载更多</button>
</div>
<script src="http://i.gtimg.cn/vipstyle/frozenjs/lib/zepto.min.js?_bid=304"></script>
<script src="{{static_url('js/photo.js')}}"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js "></script>
</body>
</html>