<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="author" content="liaosimin">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>photo</title>
    <link rel="stylesheet" href="{{static_url('css/photo.css')}}"/>
</head>
<body>
<header class="title-box2">
    <a href="{{reverse_url('Home')}}" class="return-btn"></a>
    <span class="title">个人信息</span>
</header>
<div class="wrapper">
    <div class="item">
        <div ></div>
    </div>
</div>

</body>
</html>