<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="author" content="liaosimin">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>个人中心</title>
    <link rel="stylesheet" href="{{static_url('css/photo.css')}}"/>
    <style>
        .head-box{
            width: 100%;
            height: 50px;
        }
        .head-box img{
            border-radius: 50px;
        }
    </style>
</head>
<body>
<header class="title-box2">
    <a href="{{reverse_url('Home')}}" class="return-btn"></a>
    <span class="title">个人中心</span>
</header>
<div class="head-box">
    <img src="http://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83eqHqw9gU7QzTv5zqubZAT1oIBjleDnSls2hl0qYicWFEzZnjKicqNl9MFhXv7WM0iaicJ9CyYqUsaHxzQ/0">
</div>
</body>
</html>