<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title>设置</title>
    <link rel="stylesheet" type="text/css" href="http://i.gtimg.cn/vipstyle/frozenui/1.2.0/css/frozen.css?_bid=306">
    <link rel="stylesheet" href="{{static_url('css/set-profile.css')}}"/>
</head>
<body>
<header class="title-box2">
    <a href="{{reverse_url('Home')}}" class="return-btn"></a>
    <span class="title">个人信息</span>
</header>
<div class="user-info-detail ">
    <form action="" method="post">
        <ul>
            <li>
                <div class="info-con">
                    <span class="title img-title pull-left">头像</span>
                    <a href="javascript:;"><img src="http://img1.2345.com/duoteimg/qqTxImg/2013/04/22/13667694352.jpg"
                                                class="user-img"/></a>
                </div>
            </li>
            <li>
                <div class="info-con">
                    <span class="title pull-left">昵称</span>
                    <a href="javascript:;" class="nickname pull-right s1 editInfo" id="userNickname">{{test}}</a>
                </div>
            </li>
            <li>
                <div class="info-con">
                    <span class="title pull-left">真实姓名</span>
                    <a href="javascript:;" class="nickname pull-right s1 editInfo" id="userNickname">{{test}}</a>
                </div>
                <div class="info-edit" style="display:none;">
                    <input type="text" class="edit-box" id="realnameEdit" value="{{test}}" placeholder="请设置"/>

                    <div class="btn-box">
                        <a href="javascript:;" class="concel-btn">取消</a>
                        <a href="javascript:;" class="sure-btn" data-action="edit_realname">确定</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info-con">
                    <span class="title pull-left">微信号</span>
                    <a href="javascript:;" class="pull-right editInfo" id="userWechat">{{test}}</a>
                </div>
                <div class="info-edit" style="display:none;">
                    <input type="text" class="edit-box" placeholder="微信号的提交有助于同行、供应商找到你" id="wechatEdit"
                           value="{{test}}"/>

                    <div class="btn-box">
                        <a href="javascript:;" class="concel-btn">取消</a>
                        <a href="javascript:;" class="sure-btn" data-action="edit_wx_username">确定</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info-con">
                    <span class="title pull-left">手机号</span>
                    <a href="javascript:;" class="pull-right  tiephone" data-toggle="modal" data-target="#tieBox"
                       id="phoneNumber">{{test}}</a>
                </div>
            </li>
            <li>
                <div class="info-con">
                    <span class="title pull-left">个人邮箱</span>
                    <a href="javascript:;" class="pull-right s1 editInfo" id="userMail">{{test}}</a>
                </div>
                <div class="info-edit" style="display:none;">
                    <input type="text" class="edit-box" id="mailEdit" value="{{test}}" placeholder="请设置"/>

                    <div class="btn-box">
                        <a href="javascript:;" class="concel-btn">取消</a>
                        <a href="javascript:;" class="sure-btn" data-action="edit_email">确定</a>
                    </div>
                </div>
            </li>
            <li class="w1">
                <div class="info-con">
                    <span class="title pull-left">性别</span>
                    <a href="javascript:;" class="pull-right s1 editInfo showSex" id="userSex" data-sex="{{test}}"
                       style="color:#a8a8a8 !important;"></a>
                </div>
                <div class="info-edit" style="display:none;">
                    <select id="sexEdit">
                        <option data-sex="1">男</option>
                        <option data-sex="2">女</option>
                        <option data-sex="0">其他</option>
                    </select>

                    <div class="btn-box">
                        <a href="javascript:;" class="concel-btn">取消</a>
                        <a href="javascript:;" class="sure-btn" data-action="edit_sex">确定</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info-con">
                    <span class="title pull-left">出生年月</span>
                    <a href="javascript:;" class="pull-right editInfo" id="userBirthday">{{test}}</a>
                </div>
                <div class="info-edit" style="display:none;">
                    <input type="text" class="edit-box" placeholder="请输入您的出生年份 例如：2014" id="yearEdit" value=""/>
                    <input type="text" class="edit-box" placeholder="请输入您的出生月份 例如：05" id="monthEdit" value=""/>

                    <div class="btn-box">
                        <a href="javascript:;" class="concel-btn">取消</a>
                        <a href="javascript:;" class="sure-btn" data-action="edit_birthday">确定</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="info-con">
                    <span class="title pull-left">个人说明</span>
                    <a href="javascript:;" class="pull-right editInfo" id="userIntro">{{test}}</a>
                </div>
                <div class="info-edit" style="display:none;">
                    <textarea type="text" class="edit-box" placeholder="输入一些个人说明，好多同行想认识你"
                              id="introEdit">{{test}}</textarea>

                    <div class="btn-box">
                        <a href="javascript:;" class="concel-btn">取消</a>
                        <a href="javascript:;" class="sure-btn" data-action="edit_intro">确定</a>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>
</body>
</html>